/* General styles */
* {
    /* box-sizing: border-box; */
    -webkit-font-smoothing: antialised;
}


body {
    /* background-color: black; */
    /* margin-top: 5em; */
    font: 20px/1.5 "Helvetica", Arial, sans-serif;
}
#slide1{
    margin-top:6em;
}
.slide-img{
    width:100%;
    height:100%;
    /* height:50%; */
    /* position: absolute; */
}
.container {
    position: relative;
    width: 100%;	
    /* height:300px; */
    overflow: hidden;	   
    padding-bottom: 80px; 
}

.slider-container {
    position: absolute;
    width:100%;
    /* height:300px; */
    left:0;
}

.slide {
	position: absolute;
	width: 100%;
    height:500px;
	padding:0 10%;
	box-sizing:border-box;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	overflow: hidden;
}

.slider-container.animated {
	-webkit-transition: left .3s ease-in;
	transition: left .3s ease-in;
}

blockquote {
    color: #636363;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1.5em;
}

cite {
    font-size: .75em;
    font-weight: 700;
    font-style: normal;
}

/* Utility */
.simple-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Nav */
#prev,
#next {
    position: absolute;
    top: 50%;
	left:50%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#prev.disabled, #next.disabled { display:none;}

#prev { background: url('../arrow-left-over.svg') no-repeat; margin-left:-480px; opacity: 0.6;}

#prev:hover { background: #bbd0ff url('../arrow-left-over.svg') no-repeat; opacity: 0.6;}


#next {
    margin-left:390px; /* 380px */
    background: url('../arrow-right-over.svg') no-repeat; opacity: 0.6;
	
}

#next:hover { background:#bbd0ff url('../arrow-right-over.svg') no-repeat; }

.pager {
    position: absolute;
    left: 0;right: 0;bottom: 0;
    text-align: center;
    margin:0; padding: 0;
}
.pager span{
    cursor: pointer;
    width: 10px;height: 10px;background:#ccc;
    border-radius:50%; display: inline-block; text-indent: -9999em;
    margin:0 5px;
}
.pager span.active{
    background: #333;
}